		body {
            /*font-family: 'Do Hyeon', sans-serif;*/
            font: 16px "Kakao","Noto Sans KR","나눔고딕",NanumGothic,"맑은고딕","Malgun Gothic",
            "돋움",Dotum,"Helvetica Neue",Helvetica,AppleSDGothicNeo,sans-serif,"Apple Color Emoji",
            "Segoe UI Emoji",NotoColorEmoji,"Segoe UI Symbol","Android Emoji",EmojiSymbols;
        }
        #back {
            position: fixed;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background-color: rgba(0, 0, 0, .6);
        }

        #hiceExBox {
            width: 500px;
            height: 600px;
            background-color: white;
            position: fixed;
            top: 50%;
            left: 50%;
            margin: -300px 0 0 -250px;
            border-radius: 20px;
            box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
        }

        #hiceExBox .title {
            width: 200px;
            height: 50px;
            text-align: center;
            font-size: 30px;
            font-weight: bold;
            margin: 20px auto;
        }

        #hiceExBox .cancel {
            width: 35px;
            height: 35px;
            position: absolute;
            font-size: 35px;
            text-align: center;
            right: 15px;
            top: 15px;
        }
        #hiceExBox .cancel:hover {
            cursor: pointer;
        }

        #hiceExBox .hice {
            width: 300px;
            height: 400px;
            position: absolute;
            top: 120px;
            left: 0;
        }

        #hiceExBox .iceEx {
            width: 200px;
            height: 30px;
            font-size: 18px;
            position: absolute;
            right: 45px;
        }

        #hiceExBox .iceEx1 {
            bottom: 200px;
        }
        #hiceExBox .iceEx2 {
            bottom: 250px;
        }
        #hiceExBox .iceEx3 {
            bottom: 300px;
        }
        #hiceExBox .iceEx4 {
            bottom: 350px;
        }
        #hiceExBox .iceEx5 {
            bottom: 400px;
        }