@charset "UTF-8";

#heroWrap {
            position: relative;
            width: 100%;
            height: 400px;
            background-size: cover;
            opacity: .7;
            margin-top: 70px;
        }
        .hLogTitle {
            width: 100%; height: 100px;
            position: absolute;
            text-align: center;
            line-height: 100px;
            font-size: 50px;
            font-weight: bold;
            text-shadow: 3px 3px 20px #424242;
            color: #fff;
            top: 150px;
        }

        .clickBox{
            width: 350px; height: 60px;
            position: absolute;
            bottom: 8px; right: 10px;
        }
        .clickBox>li{
            width: 80px; height: 40px;
            display: inline-block;
            font-size: 18px;
            font-weight: bold;
            background-color: #EEEEEE;
            padding: 5px 10px;
            border-radius: 15px;
            line-height: 35px;
            cursor: pointer;
        }
        .clickBox>li img{
            vertical-align: middle;
        }
        .clickBox>li:last-child{
            background-color: transparent;
            box-shadow: none;
        }
        .clickBox>li:last-child img{
        	border-radius: 40px;
        }

        #contentWrap{
            width: 1080px;
            position: relative;
            margin: auto;
            margin-bottom: 50px;
        }

        #viewerSection {
            width:1040px;
            border:1px solid #e5e5e5;
            padding:20px;
        }


        #donerGrade{
            width: 1080px;
            height: 400px;
            margin-top: 30px;
            border: 2px solid #424242;
            border-radius: 10px;

        }
        .hiceTitle{
            font-size: 30px;
            position: absolute;
            top: 20px;
            left: 50px;
        }
        .hiceTitle span{
            font-size: 20px;
            cursor: pointer;
        }
        .hiceGrade{
            width: 432px; height: 400px;
            float: left;
            position: relative;
        }
        .hiceLevel {
            width: 200px;
            position: absolute;
            bottom: 50px;
            left: 117px;
        }

        #evaluation {
            width: 250px;
            height: 30px;
            font-size: 20px;
            text-align: center;
            position: absolute;
            bottom: 0; left: 80px;
        }

        .travelGrade{
            width: 648px;
            height: 400px;
            /*background-color: red;*/
            position: absolute;
            right: 0;
            /*float: left;*/
            border-left: 1px solid #424242 ;
        }
        .travelGrade h3{
            padding: 30px 50px 40px 30px;
            /*float: left;*/
            font-size: 25px;
        }
        .travelGrade span{
            width: 100px;
            height: 50px;
            font-size: 15px;
        }
        .travelGrade li {
            margin-top: 30px;
            float: left;
            /*cursor: pointer;*/
            /*background-color: blue;*/
        }
        .travelType input, .travelStyle input, .season input{
            display: none;
        }
        .travelType label, .travelStyle label, .season label{
            cursor: pointer;
        }

        .travelStyle {
            width: 350px;
            height: 80px;
            position: absolute;
            top: 5px; right: 100px;
        }
        .travelStyle li{
            margin-left: 50px;
            height: 60px;
            position: relative;
            margin-top: 20px;
        }

        .travelType {
            width: 425px; height: 110px;
            position: absolute;
            top:120px; right: 10px;
        }
        .travelType li{
            width:100px; height: 45px;
            text-align: center;
            margin:0 0 0 1px;
            line-height: 50px;
        }

        .season {
            width: 400px; height: 30px;
            position: absolute;
            right: 30px; top: 220px;
        }
        .season li {
            width: 50px; height: 30px;
            text-align: center;
            line-height: 30px;
            margin: 0 20px;
        }

        .season img {
            width: 30px;
        }
        .searchTag {
             position: absolute;
            	bottom: 60px; right: 50px;
        }
        .searchTag .tag{
            width: 120px;
            height: 30px;
            border: none;
            outline: none;
            font-size: 15px;
            color: #4b96e6;
            font-weight: bold;
            display: inline-block;
            margin-top: 0;
            margin-left: 5px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .color{
            background-color: #8D6E63;
            color: #fff;
            padding: 8px 10px;
            border-radius: 40px;
        }
        .on{
            transform: scale(1.2);
            /*border-radius: 30px;*/
            /*box-shadow: 2px 2px 10px #424242;*/
            color: #8D6E63;
            border-bottom: 1px solid #8D6E63 ;
        }

        #commentWrap {
            width: 1080px;
            /*background-color: #4b96e6;*/
            margin: 10px auto;
        }
        .commentTitle{
            padding: 20px 10px 10px 10px;
            /*background-color: #C69963;*/
            font-size: 20px;
            float: left;
        }
        #commentWrap commentNum {
            width: 50px; height: 30px;
            margin-top: 20px;
            color: #C69963;
            font-size: 20px;
            display: inline-block;
        }
        #commentBox{
            margin-top: 10px;
            position: relative;
        }
        .commentList{
            width: 1076px; min-height: 130px;
            border: 2px solid #424242;
            border-radius: 20px;
            padding-bottom: 10px;
            position: relative;
            margin-bottom: 10px;
            /*background-color: blue;*/
        }
        .profile{
            width: 100px; height: 100px;
            text-align: center;
            float: left;
            margin-top: 20px;
            margin-left: 30px;
        }
        .profile img{
            width: 80px; height: 80px;
        }

        .nick{
            max-width: 80px;
            min-height: 30px;
            text-align: justify-all;
            word-break : break-word;
            margin-left: 10px;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .regdate{
            width: 650px;
            min-height: 100px;
            display: inline-block;
            padding-top: 10px;
            transform: translateX(30px);
        }
        .cc{
            width: 800px; min-height: 50px;
            background-color: #B3E5FC;
            padding: 15px 20px 15px 20px;
            border-radius: 15px;
            text-align: justify;
            margin-top: 20px;
            word-break : break-all;
            white-space : pre-wrap;
            font-size: 20px;
        }
        #commentWrite{
            width: 1076px;
            min-height: 80px;
            border: 2px solid #424242;
            border-radius: 20px;
            padding: 10px 0 20px 0px;
            margin-top: 20px;
            position: relative;
        }
        #commentWrite h5{
            padding: 10px 0 20px 40px;
        }
        .writeArea{
            width: 800px;
            min-height: 100px;
            padding-left: 20px;
            padding-top: 10px;
            border-radius: 15px;
            vertical-align: middle;
            resize: none;
            outline: none;
            margin-left: 40px;
            font-size: 20px;
        }
        #commentWrite .commentCount{
            position: absolute;
            bottom: 20px;
            right: 280px;
        }
        .commentBtn {
            width: 100px;
            height: 100px;
            border: none;
            border-radius: 10px;
            background-color: #4b96e6;
            color: #fff;
            font-size: 20px;
            font-weight: bold;
            cursor: pointer;
            box-shadow: 5px 5px 10px #424242;
            outline: none;
            margin-left: 20px;
            transition: .5s ease;
        }

        .commentBtn:active{
            box-shadow: none;
        }
        .btnBox{
            width: 220px; height: 50px;
            display: inline-block;
            position: absolute;
            top: 5px;

        }
        .userBtn{
            width: 100px; height: 40px;
            display: inline-block;
            vertical-align: middle;
            text-decoration: none;
            line-height: 40px; text-align: center;
            border: none;
            background-color: #C69964;
            cursor: pointer;
            font-size: 18px;
            font-weight: bold;
            font-family: 'Kakao', sans-serif;
            color: #fff; outline: none;
            border-radius: 10px;
            transition: .5s ease;
        }
        .userBtn:hover{
            box-shadow: 2px 2px 5px #424242;
        }
        .userBtn:active{
            transform: scale(.9);
        }