@charset "UTF-8";
#heroWrap {   
     position: relative;
     width: 100%;
     height: 400px;
     opacity: .7;
     margin-top: 70px;
 }
 .heroImg{
 width : 100%; height:400px;
 position: absolute;
 }

 .infoWrap {
     width: 1080px;
     height: 400px;
     position: relative;
     margin: auto;
     color: white;
 }

 .travelTitle {
     font-size: 40px;
     margin-left: 5px;
     position: absolute;
     top: 110px;
 }

 .cityInfo {
     width: 900px;
     height: 30px;
     position: absolute;
     top: 170px;
     left: 5px;
     text-shadow: 1px 1px .1px #424242;
 }

 .cityInfo > ul > li {
     float: left;
     padding-right: 50px;
 }
 .exchange a{
     text-decoration: none;
     color: #fff;
 }

 .infoBox {
     width: 1080px;
     height: 150px;
     position: absolute;
     bottom: 50px;
     background-color: rgba(255, 255, 255, .7);
 }

 .list {
     width: 214px;
     height: 150px;
     background-color: rgba(0, 0, 0, .8);
     float: left;
     color: #fff;
     margin: auto 1px;
     position: relative;
     cursor: pointer;
 }

 .infoTitle {
     margin-top: 15px;
     margin-left: 30px;
     font-size: 20px;
     font-weight: bold;
     /*text-shadow: 0 0 1px #fff;*/
  }

  .list img {
      width: 70px;
  }
  .list a{
      color: #fff;
      text-decoration: none;
  }
  .infoImage {
      margin: 5px 55px;
      position: absolute;
  }

  .infoValue {
      position: absolute;
      bottom: 10px;
      right: 30px;
      font-size: 20px;
  }


  #contentsWrap {
      width: 1080px;
      margin: auto;
      margin-bottom: 30px;
  }
  .contentsBox{
      width: 1080px; height: 350px;
  }
  .titleBox{
      width: 1080px; height: 50px;
      position: relative;
      line-height: 50px;
      font-size: 20px;
  }
  .titleBox h3 {
      position: absolute;
      left: 60px;
  }
  .titleBox a{
      position: absolute;
      right: 60px;
      text-decoration: none;
      color: #000;
  }
  .titleBox a:hover{
      color: #8D6E63;
      text-shadow: 1px 1px 10px #424242;
  }
  .contents{
      width: 1080px; height: 300px;
      position: relative;
  }
  .viewer{
      width: 960px; height: 280px;
      position: absolute;
      margin: 0px 60px;
      overflow: hidden;
  }
  .contentList{
      width: 3015px; height: 280px;
      left: 0;
      transition: .5s cubic-bezier(.88,-0.13,.3,1.48);
  }
  .listBox{
      width: 290px; height: 280px;
      float: left;
      margin-right: 45px;
  }
  .btn{
      width: 60px; height: 280px;
      background-color: transparent;
      position: absolute;
      border: none;
      font-size: 40px;
      outline: none;
      padding: 0;
      transition: .2s ease;
      cursor: pointer;
  }

  .btn:hover{
      text-shadow: 5px 3px 10px #424242;
  }
  .btn:active{
      transform: scale(.8);
  }
  .leftBtn{
      left: 0;
  }
  .rightBtn{
      right: 0;
  }


  .togetherBox{
      width: 1080px; height: 150px;
  }
  .togetherviewer{
      width: 960px; height: 100px;
      margin: auto;
      overflow: hidden;
  }
  .togetherContent{
      width: 1080px; height: 100px;
      position: relative;
  }
  .withBtn{
      width: 60px; height: 100px;
      position: absolute;
      border: none;
      background-color: transparent;
      font-size: 40px;
      outline: none;
      bottom: 0;
      transition: .2s ease;
      cursor: pointer;
  }

  .withLeft{
      left: 0;
  }
  .withRight{
      right: 0;
  }
  .withBtn:hover{
      text-shadow: 5px 3px 10px #424242;
  }
  .withBtn:active{
      transform: scale(.8);
  }
  .togetherListsBox{
      width: 3015px; height: 100px;
      transition: .5s cubic-bezier(.88,-0.13,.3,1.48);
  }
  .togetherList{
      width: 460px; height: 100px;
      float: left;
      margin-right: 40px;
  }

  #popWrap{
      width: 100%; height: 100%;
      position: fixed;
      top: 0;
      background-color: rgba(0,0,0,.9);
      z-index: 2;
      display: none;
  }

  .popUp h3 {
      text-align: center;
      padding-top: 20px;
      font-size: 30px;
  }

  .popUp{
      width: 700px; height: 600px;
      background-color: #fff;
      position: fixed;
      top: 50%; left: 50%;
      margin: -300px 0 0 -350px;
      border-radius: 20px;
      z-index: 3;
      border-radius: 20px;
  }

  .exit {
      position: absolute;
      font-size: 30px;
      top: 20px;
      right: 20px;
      cursor: pointer;
  }


  #popCheckList{
      display: none;
  }
  #popinfo {
      display: none;
  }

  #popinfo>ul>li {
      width: 600px; height: 100px;
      margin: auto;
      font-size: 20px;
      color: #000;
      position: relative;
  }

  .item{
      width: 146px; height: 100px;
      text-align: center;
      margin-top: 30px;
  }

  .item em {
      color: #f00;
      font-size: 25px;
  }
  .checkDatail{
      width: 400px;
      height: 480px;
      position: absolute;
      left: 200px;
      top: 80px;
      font-size: 25px;
      overflow: auto;
  }
  .itemDatail{
      position: absolute;
      top: 5px;
      text-indent: 200px;
  }

  .itemDatail>li{
      height: 25px;
      font-size: 20px;
      margin-bottom: 5px;
  }

  .itemContent{
      position: absolute;
      top: 20px;
      font-size: 30px;
      text-indent: 200px;
      line-height: 30px;
  }
  .item .fas{
      font-size: 35px;
  }
  .itemTitle{
      margin-top: 10px;
  }
  #popHice{
      display: none;
  }
  .popHice {
      width: 300px;
      height: 400px;
      position: absolute;
      top: 100px;
      left: 90px;
  }

  .iceEx {
      width: 200px;
      height: 30px;
      font-size: 18px;
      position: absolute;
      right: 100px;
  }

  .iceEx1 {
      bottom: 200px;
  }
  .iceEx2 {
      bottom: 250px;
  }
  .iceEx3 {
      bottom: 300px;
  }
  .iceEx4 {
      bottom: 350px;
  }
  .iceEx5 {
      bottom: 400px;
  }
  .hiceCount{
      width: 200px; height: 100px;
      line-height: 100px;
      text-align: center;
      position: absolute;
      right: 130px; bottom: 100px;
      font-size: 40px;
      font-weight: bold;
  }
  .introduce{
      width: 350px; height: 50px;
      color: #F44336;
      position: absolute;
      right: 30px;
      bottom: 30px;
  }