@charset "UTF-8";

/*
페이징 CSS
*/
.paginate {
	font-size:22px;
	text-align:center;
	height:50px;
	line-height:50px;
	font-weight:500;
	margin: 10px;
}

.paginate a, 
.paginate span,
.paginate strong{
	color:#858585;
	text-decoration:none;
	padding:9px 14px;
	border:1px solid transparent;
	transition:.1s ease;
}

.paginate span {
	border-color:#E1E1E1;
	cursor: not-allowed;
}

.paginate a:hover {
	background:#14BAB6;
	border-color:#fff;
	font-weight:bold;
	color:#fff;
}

.paginate strong {
	background:#10a39e;
	border-color:#10a39e;
	color:#fff;
	cursor: not-allowed;
	font-weight:bold;
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*
비활성화
*/
.paginate span.next,
.paginate span.prev {
	border-color:#E1E1E1;
	color:#E1E1E1;
	cursor:default;
	cursor:not-allowed;
}

.card_user {
	position: absolute;
	height:120px;
	text-align: center;
	top:10px;
	left:10px;
}
.card_user img {
	border-radius: 50px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.card_user strong {
	position: absolute;
	width:100px;
	left:0;
	font-weight:bold;
	color:#9E9E9E;
	bottom:0;
	font-size:16px;
}