@charset "UTF-8";

        #reviewContents{
            position: fixed;
            width: 458px;
            top: 50%;
            left: 50%;
            margin: -304px 0 0 -229px;
            padding: 20px;
            box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border-radius: 10px;
            background-color : #fff;
            display: none;
        }
        #reviewTitle{
            font-size: 25px;
            text-align: center;
            position: relative;
            /*border: 1px solid #424242;*/
        }
        .reviewPicContents{
            position: relative;
            overflow:hidden;
            /*display: none;*/
        }
        .reviewSpotName{
        	width: auto;
        	height : auto;
            position: relative;
            font-size: 20px;
            color: #000;
            text-decoration: none;
        }

        .reviewPicList{
            width: 1372.5px;
            height: 270px;
            position: relative;
            /*border: 1px solid #424242;*/

        }
        .reviewPicList li{
            float: left;
            position: relative;
        }
        .reviewPic{
            width: 457.5px;
            transition: .2s ease;
            position: relative;
           margin: 10px 0;
        }
        .reviewPicUser{
            width: 40px;
            height: 40px;
            position: absolute;
            border-radius: 40px;
            bottom: 15px;
            right: 5px;
            cursor: pointer;
        }
        .picBtn{
            position: absolute;
            top: 50%;
            cursor: pointer;
            background-color: #FFF;
            border: 1px solid #424242;
            border-radius: 50%;
            outline: 0;
        }
        .picBtnLeft{
            left: 0;
            z-index: 1;
        }
        .picBtnRight{
            right: 0;
        }
        .picBtn>i{
            font-size: 15px;
        }

        #personReview{
            min-height: 150px;
            position: relative;
            margin: auto;
        }
        .otherPerson{
            position: relative;
            width: 457.5px;
            height : auto;
            overflow : hidden;
            min-height: 90px;
            border-top: 1px dotted #7CB342;
        }
        .reviewUser{
            width: 40px;
            height: 40px;
            border-radius: 40px;
            position: absolute;
            top: 25px;
            left: 20px;
            cursor: pointer;

        }
        .reviewNickname {
            position: absolute;
            width: 60px;
            height: 20px;
            left: 10px;
            top: 70px;
            font-size: 13px;
            font-weight: bold;
            text-align: center;
        }
        .reviewHice{
            position: absolute;
            width: 60px;
            height: 70px;
            left: 55px;
            top: 20px;
        }
        .reviewDate{
            position: absolute;
            width: 200px;
            height: 25px;
            font-size: 13px;
            font-weight: bold;
            top: 3px;
            left: 110px;
        }
        .reviewContentsBox{
            width: 310px;
            min-height: 60px;
            /*position: relative;*/
            /*top: 30px;*/
            /*left: 110px;*/
            margin:20px 0px 10px 110px;
            /*border: 1px solid #424242;*/
        }
        .reviewContents{
            position: relative;
            width: 285px;
            min-height: 30px;
            font-size: 13px;
            top: 5px;
            background-color: #dedede;
            padding: 10px;
            border-radius: 10px;
            word-break: break-all;
            /*border: 1px solid #795548;*/
            text-align: justify;
            white-space : pre-wrap;
        }
        .reviewSiren{
            position: absolute;
            border: none;
            outline: 0;
            top: 5px;
            right:0px;
            cursor: pointer;
            background-color: transparent;
        }
        .reviewHeart{
            position: absolute;
            bottom: 0;
            right: 5px;
            cursor: pointer;
        }
        .reviewTopHeart{
            position: absolute;
             bottom: 0px;
             right: 35px;
            cursor: pointer;
         }
        .reviewBoxCloseBtn{
            position: absolute;
            right: 0;
            border: none;
            background-color: transparent;
            font-size: 20px;
            cursor: pointer;
            outline: 0;
            /*border: 1px solid #424242;*/
        }